<div id="title">Recipe Tracker</div>

<div class='body-container'>

  <div class='row'>

    <div class='col-1'>
    </div>

    <div class='col-10 recipeListContainer'>

      <div class='row'>

        <div class='col-md-6 recipeBody'>

          <h2>Recipes to try</h2>
          
          <div class="card recipeCard">
            <ul class="list-group list-group-flush">
              {{#each recipes}}
                {{#unless tried}}
                  {{> recipes/recipe-block tried=false}}
                {{/unless}}
              {{/each}}
            </ul>
          </div>

        </div>

        <div class='col-md-6 recipeBody'>

          <h2>Tried recipes</h2>

          <div class="card recipeCard">
            <ul class="list-group list-group-flush">
              {{#each recipes}}
                {{#if tried}}
                  {{> recipes/recipe-block tried=true}}
                {{/if}}
              {{/each}}
            </ul>
          </div>

        </div>

      </div>

    </div>

    <div class='col-1'>
    </div>

  </div>

  <div class='row'>

    <div class='col-md-3 col-1'>
    </div>

    <div class='col-md-6 col-10'>

      <div class='submitRecipeContainer'>

        <h2>Add a Recipe</h2>
        <form class="create-form">

          <div class="form-group userText">
            <label for="recipeName">Recipe Name:</label>
            <input type="text" id="recipeName" name="name">
          </div>

          <div class="form-group userText">
            <label for="recipeURL">Recipe URL:</label>
            <input type="text" id="recipeURL" name="name">
          </div>


          <button type="submit">Add Recipe</button>
        </form>

      </div>

    </div>

    <div class='col-md-3 col-1'>
    </div>

  </div>

</div>
